.background {
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}

.menu {
    background-image: url('/assets/eng3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.background-table {
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}